
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);

/*
    Active color: hsla(334,85%,52%,1);
*/

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Open Sans";
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #d4145a;
}

h1,h2,h3,h4,h5,h6,
h1 *,h2 *,h3 *,h4 *,h5 *,h6 * {
    font-family: "Open Sans";
    font-weight: 600;
    margin: 0 0 20px 0;
    line-height: 1.2;
    font-style: normal;
}

h1 {
    font-size: 48px;
    color: #333;
}

#bs-document-container{
    width: 650px;
    margin: 70px auto;
}

.bs-inline-block{
    display: inline-block;
    vertical-align: top;
/*    border: 1px solid red;
*/}

#bs-right-column{
    max-width: 650px;
    margin: 0 auto;
}

article {
    font-size: 22px;
    line-height: 1.3;
    color: #333;
    font-weight: 400;
}

article b, article strong {
    font-weight: 700;
}

ul#bs-doc-actions {
    list-style: none;
    margin:0;
    padding: 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
}

 ul#bs-doc-actions li:hover {
   color: #d4145a;
}

.bs-image-placeholder {
    width: 650px;
    min-height: 300px;
    background-color: #eee;
    margin-bottom: 20px;
    cursor: pointer;
    background-position: center;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
}

.bs-image-placeholder:hover {
    box-shadow: inset 0 0 4px #aaa;
}

.bs-image-placeholder:active {
    box-shadow: inset 0 0 4px #555;
}

.bs-image-placeholder img {
    width: 100%;
}

.bs-image-placeholderSmall {
    width: 150px;
    height: 150px;
    min-height: 150px;
    margin-left: 80px;
    margin-bottom: 10px;
}

#bs-stylingBar {
    position: absolute;
    padding: 8px 10px;
    background: #cb60b3; /* Old browsers */
    background: #444444; /* Old browsers */
    background: -moz-linear-gradient(top, #444444 0%, #222222 50%, #111111 51%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(50%,#222222), color-stop(51%,#111111), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #444444 0%,#222222 50%,#111111 51%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #444444 0%,#222222 50%,#111111 51%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #444444 0%,#222222 50%,#111111 51%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom, #444444 0%,#222222 50%,#111111 51%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    color: #fff;
    z-index: 99;
    height: 40px;
    display: none;
    width: 272px;
    overflow:hidden;
}

#bs-stylingBar-inner {
    position: absolute;
    float: left;
    margin-left:10;
    width: 700px;
}

#bs-stylingBar:before {
display: block;
width: 20px;
height: 20px;
content: " ";
margin-left: 5px;
margin-top: 20px;
position: absolute;
z-index: 10;
-webkit-transform: rotate(45deg) scale(0.5);
-moz-transform: rotate(45deg) scale(0.5);
-o-transform: rotate(45deg) scale(0.5);
transform: rotate(45deg) scale(0.5);
background-color: #222;
}

#bs-stylingBar a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    width: 20px;
    height:16px;
}

#bs-stylingBar a:hover {
    color: #dddddd;
}

[contenteditable] {
    border: 2px dashed hsla(334,85%,52%,0.2);
    /*margin: -5px -5px -5px -5px;*/
    margin-top: -5px;
    margin-right: -5px;
    margin-left: -5px;
    padding: 5px;
}

[contenteditable].empty {
    color: #ccc;
}

[contenteditable]:empty:after {
    content: attr(data-placeholder);
    color: #ccc;
}

[contenteditable]:focus {
    border: 2px dashed hsla(334,85%,52%,1);
}

input#bs-selection-link {
width:190px;
color:#fff;
outline:none;
background:transparent;
border:0;
font-size: 15px;


.imagePlaceholder {
    width: 650px;
    min-height: 300px;
    background-color: #eee;
    margin-bottom: 20px;
/*    overflow-y:hidden;
*/    cursor: pointer;
    background-position: center;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
}

.bs-image-placeholder:hover {
    box-shadow: inset 0 0 4px #aaa;
}

.bs-image-placeholder:active {
    box-shadow: inset 0 0 4px #555;
}

.bs-image-placeholder img {
    width: 100%;
}
