
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Bitter:400,700,400italic);

/*
    Active color: hsla(334,85%,52%,1);
*/

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  margin-right: 0.5em;
}

body {
    margin: 0 300px 40px 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Bitter";
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

a {
    color: #d4145a;
}

section.admin-side-bar {
    font-family: "Source Sans Pro";
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: fixed;
    right: 0;
    width: 300px;
    bottom: 0;
    top: 0;
    background: hsla(0,0%,90%,1);
    padding: 20px;
    height: 100%;
    border-left: 1px solid hsla(0,0%,70%,1);
}
.bs-element {
    font-family: "Bitter";
    background: hsla(0,0%,88%,1);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 22px;
    border: 2px dashed hsla(334,85%,52%,0.1);
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.bs-element:hover {
    border: 2px dashed hsla(334,85%,52%,0.5);
}
.bs-element:active {
    border: 2px dashed hsla(334,85%,52%,1);
}

section.admin-bottom-bar {
    font-family: "Source Sans Pro";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 300px;
    background: hsla(0,0%,95%,1);
    border-top: 1px solid hsla(0,0%,70%,1);
    margin: 0;
    padding: 10px;
    height: 40px;
}

button {
    border: 1px solid hsla(0,0%,70%,1);
    border-radius: 3px;
    background: hsla(0,0%,100%,0);
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1em;
    min-width: 100px;
    text-align: left;
    padding: 5px 10px;
}
button:hover {
    background: hsla(0,0%,100%,0.7);
}

h1,h2,h3,h4,h5,h6,
h1 *,h2 *,h3 *,h4 *,h5 *,h6 * {
    font-family: "Bitter";
    font-weight: 700;
    margin: 0 0 20px 0;
    line-height: 1.2;
    font-style: normal;
}

h1 {
    font-size: 48px;
    color: #333;
}

#document-container{
    width: 650px;
    margin: 70px auto;
}

.bs-inline-block{
    display: inline-block;
    vertical-align: top;
}

#bs-right-column{
    max-width: 650px;
    margin: 0 auto;
}

article {
    font-size: 22px;
    line-height: 1.3;
    color: #333;
    font-weight: 400;
}

article b, article strong {
    font-weight: 700;
}

ul#bs-doc-actions {
    list-style: none;
    margin:0;
    padding: 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
}

 ul#bs-doc-actions li:hover {
   color: #d4145a;
}

.bs-image-placeholder {
    max-width: 660px;
    min-height: 300px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px dashed hsla(334,85%,52%,0.1);
    /*margin: -5px -5px -5px -5px;*/
    margin-top: -5px;
    margin-right: -5px;
    margin-left: -5px;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.bs-image-placeholder:after {
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    background: hsla(334,85%,52%,1);
    border-radius: 20px;
    font-family: 'entypo', sans-serif;
    content:"\1f304";
    color: white;
}

.bs-image-placeholder:hover {
    box-shadow: inset 0 0 4px #aaa;
    border: 2px dashed hsla(334,85%,52%,0.5);
}

.bs-image-placeholder:active {
    box-shadow: inset 0 0 4px #555;
    border: 2px dashed hsla(334,85%,52%,1);
}

.bs-image-placeholder img {
    width: 100%;
}

.bs-image-placeholderSmall {
    width: 150px;
    height: 150px;
    min-height: 150px;
    margin-left: 80px;
    margin-bottom: 10px;
}

#bs-stylingBar {
    position: absolute;
    padding: 8px 10px;
    background: hsla(334,85%,52%,0.9); /* Old browsers */
    border-radius: 2px;
    color: #fff;
    z-index: 99;
    height: 25px;
    display: none;
    overflow:hidden;
}

#bs-stylingBar-inner {
    position: absolute;
    float: left;
    margin-left:10;
    width: 700px;
}

#bs-stylingBar a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    width: 20px;
    height:16px;
}

#bs-stylingBar a:hover {
    color: #dddddd;
}

[contenteditable] {
    border: 2px dashed hsla(334,85%,52%,0.1);
    /*margin: -5px -5px -5px -5px;*/
    margin-top: -5px;
    margin-right: -5px;
    margin-left: -5px;
    padding: 5px;
}

[contenteditable].empty {
    color: #ccc;
}

[contenteditable]:empty:after {
    content: attr(data-placeholder);
    color: #ccc;
}

[contenteditable]:hover {
    border: 2px dashed hsla(334,85%,52%,0.5);
}

[contenteditable]:focus {
    border: 2px dashed hsla(334,85%,52%,1);
}

input#bs-selection-link {
width:190px;
color:#fff;
outline:none;
background:transparent;
border:0;
font-size: 15px;


.imagePlaceholder {
    width: 650px;
    min-height: 300px;
    background-color: #eee;
    margin-bottom: 20px;
/*    overflow-y:hidden;
*/    cursor: pointer;
    background-position: center;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
}

.bs-image-placeholder:hover {
    box-shadow: inset 0 0 4px #aaa;
}

.bs-image-placeholder:active {
    box-shadow: inset 0 0 4px #555;
}

.bs-image-placeholder img {
    width: 100%;
}
